@import "../../styles/app";

.modal {
  background-color: $primario;
  color: $text-claro;
  position: fixed;
  top: 25%;
  right: 25%;
  z-index: 1;
  width: 50vw;
  height: 50vh;
  padding: 1rem;

  span {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}

.overlay {
  background-color: rgba($color: $primario, $alpha: 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
