@import "./styles/app.scss";

html {
  @include box-sizing(border-box);
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}
body {
  font-family: $fuente_principal;
  height: 100%;
  background-color: $gris;
}
img {
  max-width: 100%;
}

button {
  @include boton($secundario, $text-oscuro);
}

button.outline {
  color: $text-claro;
  background-color: transparent;
  border: 1px dashed $text-claro;

  &:hover {
    font-weight: bold;
    border: 2px solid $text-claro;
  }
}
